
<form action="/result">
  <div class="container">
    <div class="form-group">
      <label for="change">Input change</label>
      <input type="number" class="form-control" name='change'>
      <button type="submit" name="button" class='btn btn-success'>Count</button>
    </div>
  </div>
</form>
